<!DOCTYPE html>
<html>

<head>
	<title>Slide Navbar</title>
	<!-- <link rel="stylesheet" type="text/css" href="slide navbar style.css"> -->
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

		<div class="signup">
			<form #regForm="ngForm" (ngSubmit)="reg(regForm.value)" > 
				<label for="chk"  aria-hidden="true"></label>
				<input type="text" name="name"   ngModel required #name=ngModel placeholder="Name" minlength="3" maxlength="18">
				<input type="text" name="address"   ngModel required #address=ngModel placeholder="Address" >
				<input type="email" name="email"   ngModel required #email=ngModel placeholder="Email" minlength="8">
               
				<input type="text" name="age"   ngModel required #age=ngModel placeholder="Age" required="">
                
                  <!-- <select name="gender" class="text-center">
	                   
	                 <option  value="male" name="gender" ngModel required #gender=ngModel  class="text-center">Male</option>
	                <option value="female"name="gender" ngModel  #gender=ngModel  class="text-center">Female</option>
	                <option value="other"name="gender" ngModel  #gender=ngModel  class="text-center">other</option>
                       </select> -->
                       
				<!-- male<input type="radio" value="male" name="gender" ngModel required #gender=ngModel  placeholder="gender">
                female<input type="radio" value="female" name="gender" ngModel  #gender=ngModel  placeholder="gender"> -->
               
				<input type="text" name="phoneno"   ngModel required #phoneno=ngModel placeholder="Phoneno" maxlength="10" minlength="10">
				<input type="password"name="password"   ngModel required #password=ngModel placeholder="password" required="">
                <input type="text"name="description"   ngModel required #description=ngModel placeholder="Description" maxlength="256">


				<button type="submit" [disabled]="!regForm.valid">Register</button>
			</form>
		</div>


	</div>
    <div *ngIf="name.errors?.['required']&&name.touched">name is mandatory..</div>
    <div *ngIf="name.errors?.['minlength']&&name.touched">name is min 3 chars..</div>
    <!-- <div *ngIf="gender.errors?.['required']&&gender.touched">gender is mandatory..</div> -->
    <div *ngIf="address.errors?.['required']&&address.touched">address is mandatory..</div>
    <div *ngIf="email.errors?.['required']&&email.touched">email is mandatory..</div>
   <div *ngIf="email.errors?.['minlength']&&email.touched">email is min 8 characters..</div>
    <div *ngIf="phoneno.errors?.['required']&&phoneno.touched">phoneno is mandatory..</div>
    <div *ngIf="phoneno.errors?.['minlength']&&phoneno.touched">phoneno is 10 digits.</div>
</body>

</html>