<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SKMANS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active"routerLink="home">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="registration">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cart">Problem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="doctor">Doctor</a>
          </li>
          -->

          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" routerLink="home">SKMANS</a>  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon">(current)</span> -->
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02"> 
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" routerLink="home">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink ="registration">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink ="contactus">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink ="aboutus">About Us</a>
                  </li>
               
                
                
                  <li class="nav-item">
                    <a class="nav-link" routerLink ="login">Login</a>
                  </li>
                  
                  
                  
            
                </ul>
                <form class="d-flex">
        
                  
                  <!-- <button class="btn btn-primary my-2 my-sm-0" type="submit" routerLink="login" >Login</button><br> -->
                  <!-- <button class="btn btn-danger my-2 my-sm-0" type="submit"routerLink="login">Logout</button> -->
                </form>
              </div>
            </div>
           
          </nav>
         