




<html>
    <head>

    </head>
    <body>
        <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">General Check Up</h5>
                  <p class="card-text">Diet,Weight,Dental,Diabaties,Blood Pressure,Blood Test,Obesity,Body pains.</p>
                  <a  class="btn btn-danger" (click)="getid(1001)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Allergists</h5>
                  <p class="card-text">Watery eyes,Itchy nose,Sneezing,Runny nose,Rashes,Hives,Stomach cramps,Vomiting.</p>
                  <a  class="btn btn-danger" (click)="getid(1002)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
        
          
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Cardiologists</h5>
                  <p class="card-text">Heart dieseases,Cancer,calcium deficiency,preeclampsia.</p>
                  <a  class="btn btn-danger" (click)="getid(1003)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Dermitologists</h5>
                  <p class="card-text">Acne,Dryness,Itching,Rashes/skin allergies,Darkening of underarms and neck,Yellow deposits mainly
                    around eyes.</p>
                  <a  class="btn btn-danger"(click)="getid(1004)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Emergency Specialists</h5>
                  <p class="card-text">Outbreak, Accident,Sudden Heart Attack,Unexpected Injuries.</p>
                  <a  class="btn btn-danger" (click)="getid(1005)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Hematologist</h5>
                  <p class="card-text">Diagnosing,Treating and managing diseases that affect your blood,marrow,and any blood relating
                    dieseases.</p>
                  <a  class="btn btn-danger" (click)="getid(1006)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
        
          
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Infectious Specialists</h5>
                  <p class="card-text">Bacterial Infections,Viral Infections,Tropical Diseases,Malaria,Tuberculosis,Paediatric Infectious.</p>
                  <a class="btn btn-danger" (click)="getid(1007)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Nuerologists</h5>
                  <p class="card-text">Treat diseases of the brain and spinal cord,peripheral nerves and muscles.</p>
                  <a  class="btn btn-danger"(click)="getid(1008)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
          </div>
<br><br>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Oncologists</h5>
                  <p class="card-text">Diagnosing and Treating cancer,They will discuss each option's benefits and Side effects.</p>
                  <a  class="btn btn-danger" (click)="getid(1009)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Psychiatrists</h5>
                  <p class="card-text">Mental health disorders,addictive behaviors,personality disorders,depression.</p>
                  <a  class="btn btn-danger" (click)="getid(1010)">BOOK APPOINTMENT</a>
                </div>
              </div>
            </div>
        
            <div class="col-sm-3"></div>
            
            
          </div>
          
        
        </body>
</html>
    
