<!-- <h1>login </h1>
<div class="container-fluid">
    <form #loginform="ngForm"  (ngSubmit)="log(loginform.value)" > 
Enter id:<input type="text" name="cid" ngModel #cid="ngModel">
password:<input type="text" name="password" ngModel #password="ngModel">
<button type="submit" class="btn btn-danger">login</button>
</form>

</div> -->
<!-- <div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" #loginform="ngForm"  (ngSubmit)="log(loginform.value)">
                <div class="container-fluid" style="align-items:center ;" >
				<div class="login__field">
					<i class="login__icon fas fa-user" ></i>
					<input type="text" class="login__input" placeholder=" Email" name="email" ngModel #email="ngModel" style="border-radius: 10px;">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password"  name="password" ngModel #password="ngModel" style="border-radius: 10px;">
				</div>
            </div>
				<button class="button login__submit">
					<span class="button__text">LOGIN</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<h3>DOCHELP</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen_backgroundshape screenbackground_shape4"></span>
			<span class="screen_backgroundshape screenbackground_shape3"></span>		
			<span class="screen_backgroundshape screenbackground_shape2"></span>
			<span class="screen_backgroundshape screenbackground_shape1"></span>
		</div>		
	</div>
</div> -->
<!DOCTYPE html>
<html>

<head>
	<title>Slide Navbar</title>
	<!-- <link rel="stylesheet" type="text/css" href="slide navbar style.css"> -->
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="false">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<div class="Login">
			<!-- <form class="login" #loginform="ngForm"  (ngSubmit)="log(loginform.value)"> -->

				<br>
				<br>
				<br>
				<br>

				<!-- <input type="email" placeholder=" Email" name="email" ngModel #email="ngModel">
				
				<input type="password" name="password" ngModel #password="ngModel" placeholder="Password" > -->

<input type="email" placeholder="emailid" [(ngModel)]="email">

				<button type="submit" (click)="log(email)">Login</button>




				<br>

			<!-- </form> -->
			<div style="text-align: center;">
				<a href="RegistrationForm.jsp">New User?</a>
			</div>
		</div>


	</div>
</body>

</html>

