*{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5dad485229c3100c9dc9172d/1574738845968-9UPTTD9RFPG6ET4FZ84E/PHMCimg.png?format=2500w);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
}
.p{
    background-color: antiquewhite;
}