<style>
    body {
  height: 100%;
  margin: 0;
  background-image: url(https://previews.123rf.com/images/leventegyori/leventegyori1506/leventegyori150600227/41667647-medical-background-with-a-doctor.jpg); 
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aqua;
}
</style>
<body>
    <br>
    <br>
    <br>
    <div class="container">

        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="java">{{obj.name}}</h2>
              <br>
              <p class="java">Age:{{obj.age}}</p>
              <!-- <p class="java">Gender:{{obj.gender}}</p> -->
              <p class="java">Slot:12am to 1pm</p>
            </div>
          </div>
          <div class="face face2">
            <h2>PATIENT</h2>
          </div>
        </div>
      
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="python">{{docobj.name|uppercase}}</h2><br>
              <p class="python">Specialization:{{docobj.specilization|uppercase}}</p><br>
              <p class="python">Experience:{{docobj.experience}}</p>
              
            </div>
          </div>
          <div class="face face2">
            <h2>DOCTOR</h2>
          </div>
        </div>
      
        
      
        <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
          </div>  
          
