 <!-- <p>hello</p>
 <p>problem works!</p>


<div class="container">
    <table class="table border table-border table-striped table-hover table-sm text-center">
        <thead>
            <tr class="bg-info text-white">
                <th> DoctorId </th>
                <th> DoctorName </th>
                
            </tr>
        </thead>
    
        <tbody>
            
            <tr *ngFor="let emp of doctor" >
                 <td> {{emp.docid}} </td>
                 <td > {{emp.name }} </td>
                
            </tr>
        </tbody>
    </table>
</div>  -->

<div class="container mt-5">
    <div class="card" *ngFor="let emp of doctor">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/bgimage1.jpg" class="img-fluid">
            </div>
            
            <div class="col-md-8" >
               <h2 class="card-title mt-3">{{emp.name}}</h2>
               <b><i><p>{{emp.specilization}}</p></i></b>
                <button class="btn btn-primary" (click)="log(emp.docid)">Book Your Slot</button>
            </div>
        </div>
    
    </div>
</div>

