<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="height: 1700px; ">

<div class="w3-container w3-teal">
    <h1 align="center">DocHelpLine</h1>
</div>

<img src="https://th.bing.com/th/id/R.13b51a30c87e6a284f5ae047470d382d?rik=1V2GAirGz4HVdA&riu=http%3a%2f%2fwww.refinegm.com%2fd%2ffile%2fp%2f2019%2f07-27%2fe8020ef6d6aa6b1c979471a7ef39fb2e.jpg&ehk=xvlxlqRmyDo6h7i79XFqsr%2fOpuHMn2whwSbk0S8XQlk%3d&risl=&pid=ImgRaw&r=0" alt="Car" style="width:100%" height="20%">

<div class="w3-container">
</div>

<div class="w3-container w3-teal">
  <p>About us</p>
</div>

</body>
</html>
