


<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
  height: 100%;
  margin: 0;
  background-image: url(https://img.freepik.com/free-vector/cardio-heartbeat-medical-healthcare-background_1017-24090.jpg?w=2000); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.button{
  align-items: center;
}

  </style>
  </head>
  <body>
    
    <div class="container"> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center;"> <strong>WE ARE COMMITTED TO YOUR HEALTH</strong></h1>
    <br>
    <h3 style="text-align: center;"><strong>CARING FOR LIFE</strong></h3>
    <br>
    <br>
   
    <br> <br>
  <div class="text-center">
    
    <a  class="btn btn-mod btn-border btn-circle btn-large" >
      <i class="fa fa-envelope" routerLink="registration"  ></i>
      MAKE AN APPOINTMENT
    </a>
    <br>
    <br>
    <br>
  </div> 
</div> 
  
  <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    
 
  
  </body>
</html>